section.book-details {
    position: relative;
    overflow: hidden;
    margin: auto;
    text-align: center;
    border-radius: 15px;
    background-color: #c0c0c063;
}

section.book-index section.book-details h1 {
    text-decoration: underline;
}

section.book-index section.book-details h2 {
    margin: 0;
    font-size: 1.2rem;
}

section.book-details h2.cheap {
    color: green;
}

section.book-details h2.expensive {
    color: crimson;
}

section.book-details small {
    display: block;
}

section.book-details button {
    font-size: 1rem;
}

.book-details .sale {
    position: absolute;
    top: 25px;
    left: -24%;
    transform: rotate(320deg);
    background-color: crimson;
    color: white;
    font-size: 2rem;
    padding-inline: 25%;
    text-transform: uppercase;
    font-family: 'Edu VIC WA NT Beginner';
}

@media (max-width: 660px) {
    section.book-index section.book-details {
        max-width: 100%;
    }
}