.book-index .book-list li {
    transition: scale 0.4s;
}

.book-index .book-list li:hover {
    scale: 1.1;
}

.book-index .book-list li h1 {
    font-size: 1.5rem;
    margin: 0;
}

.book-index .book-list li h2 {
    font-size: 1rem;
}

.book-index .book-list li button {
    font-size: 1rem;
}