button {
    cursor: pointer;
    background-color: var(--clr2bg);
    color: white;
    margin: 0.5em;
    border: 0;
    padding: 0.5em 0.8em;
    border-radius: 4px;
}

button:hover {
    background-color: var(--clr2bg-light);
    color: var(--clr2bg);
    transition: .3s;
}